<div class="full">
    <main class="main">

        <div class="game-listing-new-game">
            <a href='games/new'>New game</a>
        </div>

        <div class="game-listing-wrapper">
            <% @games.each { |game| %>
                <div class="game-listing-item">
                    <div class="game-listing-item-img">
                        <img src="../../../uploads/<%=game.image%>"/>
                    </div>
                    <div class="game-listing-item-details">
                        <h4><a href="/games/<%=game.id%>"><%=game.name%></a></h4>
                        <h5><%=game.short_description%></h5>
                        <ul>
                            <li>Category: XXXX</li>
                            <li>Number of players: <%=game.number_of_players%></li>
                            <li>Play length: <%=game.play_length%></li>
                        </ul>
                    </div>
                </div>
            <% } %>
        </div>

    </main>
</div>

