<div class="full">
    <main class="main">
        <div class="game-show-edit-game">
            <a href='/games/<%=@game.id%>/edit'>Edit game</a>
        </div>
        <div class="game-show-wrapper">
            <div class="game-show-image-wrapper">
                <img src="../../../uploads/<%=@game.image%>"/>
            </div>
            <div class="game-show-description-wrapper">
                <h4><%=@game.name%></h4>
                <h5><%=@game.short_description%></h5>
                <p><%=@game.description%></p>
                <ul>
                    <li>Number of players: <%=@game.number_of_players%></li>
                    <li>Play length: <%=@game.play_length%></li>
                </ul>
            </div>
        </div>
    </main>
</div>